/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  /* background: #e2e8f013; */
  /* overflow-x: hidden; */
  /* background: #fbfcfff2; */
  /* background: #F7F6F3; */
  background: #F9F9F9;
  padding: 0;
  margin: 0;
  color: #242424;
  overflow-x: hidden;
}

:root {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  /* width: 10px; */
  display: none;
}

/* ::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #dddddda3;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dddddd;
} */

.about-text {
  line-height: 46px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: .95rem;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.body {
  color: #000;
  width: 100%;
  position: absolute;
  overflow-y: scroll;
  /* border-left: 1px solid rgb(229 231 235); */
}

.skill-pill {
  /* padding: 7px 13px; */
  border: 1px solid #dadada29;
  /* margin: 10px; */
  margin-left: 0;
}

/* .theme-body {
  overflow-y: scroll;
} */

@media (min-width: 640px) {
  .body {
    width: 50%;
    padding: 2.5rem;
    position: relative;
    /* overflow-y: scroll; */
    max-height: 100vh;
    border-left: 1px solid rgb(229 231 235);
  }

  /* ::-webkit-scrollbar {
    display: none;
  } */
}