/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Paytone+One&family=Righteous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  /* background: #e2e8f013; */
  /* overflow-x: hidden; */
  /* background: #fbfcfff2; */
  /* background: #F7F6F3; */
  /* background: #F9F9F9; */
  /* background: #F9F9F9; */

  padding: 0;
  margin: 0;
  /* color: #242424; */
  /* overflow-x: hidden; */
}

#gradient-text {
  font-size: 3rem;
  /* line-height: 2; */
  color: rgb(255 180 11);
  /* background: -webkit-linear-gradient(rgb(28 255 91), #cc00ff, rgb(255 180 11));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

/* .logo-dot {
  width: 20px;
  height: 20px;
  background: #000;
} */

#logo-gradient {
  font-size: 35px;
  /* font-size: 10px; */
  /* font-size: 2.25rem; */
  /* line-height: 2.5rem; */
  font-weight: bolder;
  color: rgb(255 180 11);
  /* background: -webkit-linear-gradient(rgb(28 255 91), #cc00ff, rgb(255 180 11));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  /* font-size: 72px; */
}

:root {
  background: #FAFBFF;
  overflow-x: hidden;
  -webkit-highlight: none;
  highlight: none;
}

::-webkit-scrollbar {
  /* width: 10px; */
  display: none;
}

/* ::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #dddddda3;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dddddd;
} */

.about-text {
  line-height: 46px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: .95rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.body {
  color: #000;
  width: 100vw;
  position: absolute;
  margin-left: -19px;
  margin-top: -50px;
}

.skill-pill {
  margin-left: 0;
}

@media (min-width: 640px) {
  .body {
    width: 50%;
    padding: 2.5rem;
    position: relative;
    margin-left: 0;
    border-radius: 20px;
    margin-top: 0;
    overflow-y: scroll;
    max-height: 100vh;
    /* border-left: 1px solid rgb(229 231 235); */
  }

  #gradient-text {
    font-size: 4.5rem;
    line-height: 1;
  }

  /* ::-webkit-scrollbar {
    display: none;
  } */
}